<a href="https://colab.research.google.com/github/NoAnny/FinalProject/blob/main/HW10Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

In [ ]:
#import random
#lst = ['robot'] * 10
#lst += ['human'] * 10
#random.shuffle(lst)
#data = pd.DataFrame({'whoAmI':lst})
#data.head()

In [11]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  human
4  human

In [12]:
data['I_am_human']=0
data['I_am_robot']=0
data.head()

  whoAmI  I_am_human  I_am_robot
0  human           0           0
1  human           0           0
2  robot           0           0
3  human           0           0
4  human           0           0

In [16]:
data.loc[(data['whoAmI'] == 'human'), 'I_am_human'] = 1
data.loc[(data['whoAmI'] == 'robot'), 'I_am_human'] = 0
data.loc[(data['whoAmI'] == 'human'), 'I_am_robot'] = 0
data.loc[(data['whoAmI'] == 'robot'), 'I_am_robot'] = 1
data

   whoAmI  I_am_human  I_am_robot
0   human           1           0
1   human           1           0
2   robot           0           1
3   human           1           0
4   human           1           0
5   robot           0           1
6   human           1           0
7   robot           0           1
8   robot           0           1
9   human           1           0
10  robot           0           1
11  robot           0           1
12  robot           0           1
13  human           1           0
14  robot           0           1
15  human           1           0
16  robot           0           1
17  human           1           0
18  robot           0           1
19  human           1           0