<a href="https://colab.research.google.com/github/NoAnny/FinalProject/blob/main/HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* id - Уникальный ID для каждого дома
* date - Дата продажи дома
* price - Стоимость продажи дома
* bedrooms - Кол-во спален
* bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
* sqft_living - Кв. метры жилые
* sqft_lot - Кв. метры общие
* floors - Кол-во этажей
* waterfront - Есть набержная или нет
* view - Значение от 0 до 4 насколько хороший вид
* condition - Значение от 1 до 5 насколько хорошее состояние
* grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
* sqft_above - Кв. метры дома, которые находятся выше земли
* sqft_basement - Кв. метры дома, которые находятся ниже земли
* yr_built - Год постройки дома
* yr_renovated - Год ремонта дома
* zipcode - Индекс
* lat - Широта
* long - Долгота
* sqft_living15 - Кв. метры жилой площади у 15 соседей
* sqft_lot15 - Кв. метры общей площади у 15 соседей

#Задача 1
* Скачать файл в уроке
* Считать данные с помощью pandas
* Вывести на экран первые 5 строк
* Посмотреть на описание признаков и на их содержание

In [28]:
import pandas as pd
df = pd.read_csv('/content/kc_house_data.csv', sep = ',')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Задача 2
Проведите первичный анализ данных:
* Изучите типы данных
* Найдите количество пропущенных ячеек в данных
* Посчитайте основные статистики по всем признакам и поизучайте их
* Пишите выводы

In [ ]:
df.shape

In [19]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df.describe(include=['object'])

В датафрейме имеется всего 3 типа данных - int, float, object. Большинство характеристик имеют тип данных int. Всего в датафремйе 21613 строк и 21 столбец. Пропущенных ячеек в данных нет.

# Задача 3
Ответьте на несколько вопросов:

3.1 В каком диапазоне изменяются стоимости недвижимости?

In [12]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [15]:
round(df['sqft_living'].mean() * 100 / df['sqft_lot'].mean(), 2)

13.77

3.3 Как много домов с разными этажами в данных?

In [ ]:
df['floors'].value_counts()

3.4 Насколько хорошие состояния у домов в данных?

In [ ]:
df['condition'].value_counts()

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [18]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

# Задача 4

Ответьте на несколько вопросов:

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [20]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [22]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

4.3 Как много домов коснулся ремонт?

In [23]:
df[df['yr_renovated'] != 0].shape[0]

914

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [27]:
df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()

1488885.1175298805

# Задача 5
Ответьте на несколько вопросов:

5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [34]:
df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] != 0)].shape[0]

41

5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [35]:
client_choice = df[((df['view'] == 4) | (df['waterfront'] == 1)) & (df['condition'] == 5) & (df['yr_built'] >= 1980)]
client_choice['price'].min(), client_choice['price'].max()

(1295000.0, 3000000.0)

5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [37]:
client_choice = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]
round(client_choice['condition'].mean(), 2)

2.83